/* 
Module Rules
	As briefly mentioned in the previous section, a Module is a more
discrete component of the page. It is your navigation bars and your
carousels and your dialogs and your widgets and so on. This is the
meat of the page. Modules sit inside Layout components. Modules
can sometimes sit within other Modules, too. Each Module should
be designed to exist as a standalone component. In doing so, the
page will be more flexible. If done right, Modules can easily be
moved to different parts of the layout without breaking.
	When defining the rule set for a module, avoid using IDs and element
selectors, sticking only to class names. A module will likely
contain a number of elements and there is likely to be a desire to
use descendent or child selectors to target those elements. 
*/

 nav[role="navigation"] ul {
        list-style-type: none;
    }

nav[role="navigation"] ul a {
    border: 1px solid $color;
    color: $color;
    display: inline-block;
    @include fontSize(16px);
    @include headline-font;
    margin-left: 6px;
    padding: 0 1px;
    text-decoration: none;
    transition: border 400ms linear;
    transition: color 400ms linear;
    
    
    }
nav[role="navigation"] ul a:hover {
    border: 2px solid lighten($color, 20%);
    color: lighten($color, 30%);
    transition: border 400ms linear;
    transition: color 400ms linear;
}

   

header[role="banner"]{
    animation: colorchange-font 5s linear 1s infinite alternate;
    background-color: $color;
    color: #fff;
    padding: 12px; 
}

header[role="banner"] h1 {
    animation: colorchange-font 5s linear 1s infinite alternate;
    color: #fff;
}

header[role="banner"] img {
    border-radius: 50%;
    width: 75%;
}
  
header[role="banner"] p {
    @include fontSize(23px);
}

header[role="banner"] a {
    color: #fff;
    @include body-font-italic;
    transition: color 400ms linear;
}



.contact svg {
    width: 30px;
    height: 30px;
}

.contact svg path {
    fill: #fff;
    transition: fill 400ms linear;
}


main[role="main"] h1 {
    background-color: $color;
    color: #fff;
    padding: 0 8px;

}

footer[role="contentinfo"] {
    background-color: $color;
    color: #fff;    
    @include body-font-italic;
    line-height: 1;
    padding: 4px 8px 8px 8px;
    
}

 
 
    

